---
//icons
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Typescript from "./icons/Typescript.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import NodeJS from "./icons/NodeJs.astro";
import SocketIo from "./icons/SocketIo.astro";
import MongoDB from "./icons/MongoDB.astro";
import ExpresJs from "./icons/ExpressJs.astro";
import Redux from "./icons/Redux.astro";
import Javascript from "./icons/Redux.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-blue-500/20 dark:text-white text-black",
    icon: Typescript,
  },
  SOCKET_IO: {
    name: "Socket IO",
    class: "bg-white text-black",
    icon: SocketIo,
  },
  NODE_JS: {
    name: "Node Js",
    class: "bg-green-500/50  dark:text-white text-black",
    icon: NodeJS,
  },
  MONGO_DB: {
    name: "Mongo DB",
    class: "bg-green-500/20 dark:text-white text-black",
    icon: MongoDB,
  },
  EXPRESS_JS: {
    name: "Express Js",
    class: "bg-[#003159] text-white",
    icon: ExpresJs,
  },
  REDUX: {
    name: "Redux",
    class: "bg-purple-500 text-black",
    icon: Redux,
  },
  JAVASCRIPT: {
    name: "Javasript",
    class: "bg-yellow-500 text-black",
    icon: Javascript,
  },
};
const PROJECTS = [
  {
    title: "Chat Cubano - A chat app inpired on telegram",
    description:
      "Una aplicación web de chat, pensada para los cubanos, actualmente está en desarrollo, el objetivo es basarse en las fortalezas de telegram, así como implementar el resto de las necesidades del cliente. Creada desde cero por mi con Next.js, React, Tailwind CSS, Redux, Redux Toolkit, Node JS, Socket IO, Express JS y Mongo DB",
    link: "https://elchatcubano1.com.br/",
    github: "",
    image: "/projects/chatcubano.png",
    tags: [
      TAGS.NEXT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.NODE_JS,
      TAGS.SOCKET_IO,
      TAGS.MONGO_DB,
      TAGS.REDUX,
    ],
  },
  {
    title: "MySpace - The future IT Social Media",
    description:
      "Plataforma en desarrollo. Pensada para construir la futura red social de la industria tecnolóca. Creada desde cero con Next.js, React, Tailwind CSS, Redux, Node JS, Express JS y Mongo DB",
    link: "https://myspacereloaded.vercel.app/me",
    image: "/projects/myspace.png",
    tags: [
      TAGS.NEXT,
      TAGS.TAILWIND,
      TAGS.TYPESCRIPT,
      TAGS.NODE_JS,
      TAGS.MONGO_DB,
      TAGS.REDUX,
    ],
  },
  {
    title: "Menú Digital - Retos de programación con JavaScript y TypeScript",
    description:
      "Aplicación web que permite crear un menú digital para tu restaurante, bar, cafetería o negocio, podrás gestionar, crear, editar, borrar, ocultar, así como filtrar cualquier producto. Brindale un mejor servicio a tus clientes con este menú digital. POV: Esta es una instancia de desarrollo, por lo que puede notar algunas demoras en la respuesta del servidor.",
    link: "https://gatonegro.vercel.app/menu",
    image: "/projects/digitalmenu.png",
    tags: [
      TAGS.NEXT,
      TAGS.TAILWIND,
      TAGS.JAVASCRIPT,
      TAGS.MONGO_DB,
      TAGS.NODE_JS,
      TAGS.EXPRESS_JS,
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row flex-wrap mb-2 gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex  gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
